html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.headers-display {
    text-align: center;
}


.input-errors, .input-seed {
    font-size: 14px;
    font-weight: 700;
}


.toolbar-menu {
    padding-bottom: 40px;
    display: flex;
}
.region-button {
    margin-top: 25px;
}

.seed-toolbar {

    align-items: center;
}

